<div class ="col-10 offset-1 about">
  <h1 style="padding-bottom: 15px;">About Quorty</h1>

  <p>
    Quorty was built by <a target="_blank" href="http://zaynrahman.getforge.io/">Zayn Rahman</a> who discovered his initial interest in software while tinkering with some basic HTML and CSS to build a website for his moped rental business as an undergraduate student. 
  </p>
  <br/>
  <p>
    Today, he is happy to have turned that interest into a passion with the Firehose Project and very much looking forward to pursuing a new career as a software engineer.
  </p>
  <br/>
  <p>
    If you want to learn more about Zayn or want to get in touch with him, you can check out his <a target="_blank" href="http://zaynrahman.getforge.io/">personal website</a>. And to see what he is currently working and collaborating on, drop by his <a target="_blank" href="https://github.com/zaynrahn">Github page</a>.
  </p>
  
<!--I ommitted this part until I have a more professional picture =)
  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top: 30px">
      <%= image_tag 'zayn.jpg', class: "img-fluid" %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Zayn Rahman</h2>
      <br/>
      <p>
        Zayn Rahman is currently a software engineering student at the Firehose Project.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br/>
  <br/>
  <br/>
  <br/>
-->

</div>

