<h2>
  <span>QUORTY / No. <%= @quote.id %></span>
</h2>


<h1><%= @quote.saying %></h1>
<h2 class="float-right" style="padding-top: 10px">- <%= @quote.author %></h2>

<br class="clear"/>
<br/>
<br/>
<br/>
