<h1>Enter Your Quote Details</h1>
<%= simple_form_for @quote do |f| %>
  <%= f.input :saying %>
  <%= f.input :author %>
  <br/>
  <%= f.submit :Submit, class: 'btn btn-danger' %>
<% end %> 
<!--  Notice how there is no = in <% this is because we dont want the output to be onscreen -->

