@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower'); /*Important to have https
and not http, because Heroku will not accept http*/


.clear {
  clear: both;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-style: italic;
  padding: 26px;
}

.links {
  padding: 26px;
}

.links a {
  color: black;
  font-size: 20px;
  border-bottom: 3px solid #dfdfdf;
  font-family: "intro_rust_gbase_2_line", Helvetica, sans-serif;

}

header {
  border-top: 9px solid #222222;
}

hr {
  clear: both;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 52px;
}

h2 {
  font-family: "intro_rust_gbase_2_line", Helvetica, sans-serif;
  font-weight: 450;
  letter-spacing: -1.5px;
  font-size: 35px;
}

.next-quote {
  color: #EDF514;
  font-family: "intro_rust_gbase_2_line";
  font-size: 20px;
}

.footer-blurb {
  color: #FFF;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-style: italic;
  text-align: right;
  font-size: 15px;
}

.footer-blurb a {
  color: #FFF;
  text-decoration: underline;
}

.logo :hover {
  text-decoration: none;
}

.about {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    margin-top: -15px;
}
















